---
title: Project
permalink: /aa274a/project.html
group: "aa274a_navigation"
order: 3
---
<!DOCTYPE html>
<html>
{% include aa274a_head.html %}
<body id="page-top" class="index">
  {% include aa274a_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Course Project</h1>
        </div>
      </div>
      <!-- <div class="row text-center">
        <img id="aa274-banner-image" src="/img/aa274a/food_delivery.png">
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <h3>Description</h3> 
          <p>Details on the final project will be published later.</p>
        </div>
      </div>

      <!--
      <div class="row">
        <div class="col-md-12">
          <h3>Code (starting point)</h3> 
          <p>A starting point for your autonomy stack can be found in the <a href="https://github.com/StanfordASL/asl_turtlebot/tree/noetic-devel">asl_turtlebot</a> repo. This code is merely a starting point and is no means complete. Please read the README for brief descriptions and disclaimers about the code.</p> 
        </div>
      </div>
      -->

      <!--
      <div class="row">
        <div class="col-md-12">
          <h3>Demo</h3> 
          <p>The final project demo will be held over zoom on Wednesday December 08, from 8:30 - 11:30 am. Each group will be given 12-minute slots to present and demo their project. Sign up for a timeslot <a href = "https://docs.google.com/spreadsheets/d/1m38s7BsIumFzkM74QC2mVB8y_D-dE3V5_AIVxny6aFU/edit?usp=sharing">here</a> (you will need to use your Stanford login to access the sheet).</p> 
        </div>
      </div>
      -->

    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
