---
title: Project
permalink: /aa274a_aut2122/project.html
group: "aa274a_aut2122_navigation"
order: 3
---
<!DOCTYPE html>
<html>
{% include aa274a_aut2122_head.html %}
<body id="page-top" class="index">
  {% include aa274a_aut2122_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Course Project</h1>
        </div>
      </div>
      <!-- <div class="row text-center">
        <img id="aa274-banner-image" src="/img/aa274a_aut2122/food_delivery.png">
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <h3>Description</h3> 
<!--           <p>Details on the final project will be published during the week of November 2, 2021 (Week 7).</p> -->
          <p> Your robot is on an autonomous rescue mission! You will be expected to (1) explore an unknown environment and locate all of the objects around the world, then (2) given a rescue request from your TAs, your robot will need to <strong>autonomously</strong> rescue the objects and deliver them safely back to the home base. See this <a href="/aa274a_aut2122/pdfs/project/AA274A_Final_Project.pdf">handout</a> for details about the deliverables, baselines, extensions and rubric.</p>
        </div>
      </div>

<!--       <div class="row">
        <div class="col-md-12">
          <h3>Logistics</h3> 
          <p>Information about Genbu usage logistics will soon be posted.</p>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-12">
          <h3>Code (starting point)</h3> 
          <p>A starting point for your autonomy stack can be found in the <a href="https://github.com/StanfordASL/asl_turtlebot/tree/noetic-devel">asl_turtlebot</a> repo. This code is merely a starting point and is no means complete. Please read the README for brief descriptions and disclaimers about the code.</p> 
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Demo</h3> 
          <p>The final project demo will be held over zoom on Wednesday December 08, from 8:30 - 11:30 am. Each group will be given 12-minute slots to present and demo their project. Sign up for a timeslot <a href = "https://docs.google.com/spreadsheets/d/1m38s7BsIumFzkM74QC2mVB8y_D-dE3V5_AIVxny6aFU/edit?usp=sharing">here</a> (you will need to use your Stanford login to access the sheet).</p> 
        </div>
      </div>

    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
