---
title: Project
permalink: /aa203/project.html
group: "aa203_navigation"
order: 3
---
<!DOCTYPE html>
<html>
{% include aa203_head.html %}
<body id="page-top" class="index">
  {% include aa203_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Course Project Guidelines</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><strong>Project Description</strong>: Your project should be related to the range of topics covered in this class. In your project, you should apply tools from optimal and learning-based control to a problem that interests you, try to benchmark/improve an existing algorithm, or even develop a new one! Of course, if you are already working on a research project that optimal and learning-based control might be applicable to, then working out how to apply the tools covered in this class to it will likely make a very good project topic.</p>
          <p>The project entails writing a project proposal (max 1 page), midterm project report (max 6 pages, minimum 2 pages), final project report (max 8 pages) and preparing a video presentation. You can work in a group of up to three people.</p>
          <p><strong>Template</strong>: This <a href="https://www.overleaf.com/read/tvtzjctvktfv">LaTeX template</a> should be used for all project submissions.</p>
          <p><strong>Timeline</strong>: We encourage all of you to discuss the selection of the topic of your project with the instructor and the CAs. Specifically, this is the timeline for the final project:</p>
          <ul>
          <li><strong>Project discussion phase</strong>: discuss your project ideas with the instructors and the CAs during office hours, until Friday, April 15.</li>
          <li><strong>Project proposal</strong>: by Friday, April 15 (Week 3), submit a one page (max) project proposal on Gradescope. The following information must be included: title, names of the team members, clear description of the problem (or problems) that you are interested in studying, and relation of your project to your current research (if any). Note that you do not have to have chosen a single final project idea and can submit multiple ideas with a discussion of each.</li>
          <li><strong>Project approval</strong>: before Friday, April 22 (Week 4) we will inform you if your project idea is approved or if (and how) you should modify it. </li>
          <li><strong>Midterm report</strong>: on Monday, May 9 (Week 7) submit a six page (max) midterm report on your project. This report should include <ul>
          <li>Motivation for the project under consideration.</li>
          <li>A statement of the technical contributions of your project. </li>
          <li>An introductory review of related work. </li>
          <li>A precise statement of the project setting you are considering in your project. </li>
          <li>Any preliminary results. </li>
          </ul>
          </li>
          <li><strong>Midterm feedback</strong>: before Monday, May 16 (Week 8) we will provide feedback on your midterm report. </li>
          <li><strong>Video presentation</strong>: instead of a poster presentation, we will have video presentations this year. You should prepare a three minute video about your project for Wednesday, June 1 (End of Quarter). These videos will be made available to all students in the class. </li>
          <li><strong>Project report</strong>: you should submit your final project report (8 pages maximum) by Wednesday, June 1 (End of Quarter) on Gradescope.</li>
          </ul>
          <p><strong>Project evaluation</strong>: Your project (totaling 40% of your course grade) will be evaluated along four main dimensions:</p>
          <ul>
          <li>Technical quality and clarity of your proposal (5%).</li>
          <li>Technical quality and clarity of your midterm report (10%).</li>
          <li>Technical quality of your final project submission (15%).</li>
          <li>Clarity of your video presentation and final report (10%).</li>
          </ul>
          <p><strong>Publishing your work</strong>: Some of the research-oriented projects might contain publishable work. The instructor and the CAs will be happy to help you with turning your work into a scientific publication. </p>          
        </div>
      </div>      
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>


<!-- **Project Description**: Your project should be related to the range of topics covered in this class. In your project, you should apply tools from optimal and learning-based control to a problem that interests you, try to benchmark/improve an existing algorithm, or even develop a new one! Of course, if you are already working on a research project that optimal and learning-based control might be applicable to, then working out how to apply the tools covered in this class to it will likely make a very good project topic.

The project entails writing a project proposal (max 1 page), midterm project report (max 6 pages, minimum 2 pages), final project report (max 8 pages) and preparing a video presentation. You can work in a group of up to three people.

**Template**: This [LaTeX template](https://www.overleaf.com/read/tvtzjctvktfv) should be used for all project submissions.

**Timeline**: We encourage all of you to discuss the selection of the topic of your project with the instructor and the CAs. Specifically, this is the timeline for the final project:

- **Project discussion phase**: discuss your project ideas with the instructors and the CAs during office hours, until Friday, April 15.
- **Project proposal**: by Friday, April 15 (Week 3), submit a one page (max) project proposal on Gradescope. The following information must be included: title, names of the team members, clear description of the problem (or problems) that you are interested in studying, and relation of your project to your current research (if any). Note that you do not have to have chosen a single final project idea and can submit multiple ideas with a discussion of each.
- **Project approval**: before Friday, April 22 (Week 4) we will inform you if your project idea is approved or if (and how) you should modify it. 
- **Midterm report**: on Monday, May 9 (Week 7) submit a six page (max) midterm report on your project. This report should include 
  - Motivation for the project under consideration.
  - A statement of the technical contributions of your project. 
  - An introductory review of related work. 
  - A precise statement of the project setting you are considering in your project. 
  - Any preliminary results. 
- **Midterm feedback**: before Monday, May 16 (Week 8) we will provide feedback on your midterm report. 
- **Video presentation**: instead of a poster presentation, we will have video presentations this year. You should prepare a three minute video about your project for Wednesday, June 1 (End of Quarter). These videos will be made available to all students in the class. 
- **Project report**: you should submit your final project report (8 pages maximum) by Wednesday, June 1 (End of Quarter) on Gradescope.

**Project evaluation**: Your project (totaling 40% of your course grade) will be evaluated along four main dimensions:

- Technical quality and clarity of your proposal (5%).
- Technical quality and clarity of your midterm report (10%).
- Technical quality of your final project submission (15%).
- Clarity of your video presentation and final report (10%).

**Publishing your work**: Some of the research-oriented projects might contain publishable work. The instructor and the CAs will be happy to help you with turning your work into a scientific publication.  -->
